{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}

<div class="col-md-8 mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text ">
              Olá! primeiramente seja bem vindo ao blog django estamos felizes por está aqui. Bem, tudo começou quando conheci programação na faculdade, detalhe era bacharel de Produção.
              Primeiro contato foi com a linguagem pascal que tem como intuito a aprendizagem, e acabei reparando que tinha uma certa "facilidade" assim, por ser curioso busquei informações sobre o assunto. Logo me encantou a linguagem python.
              Desde então, sigo meu aprendizado em python e o framework django para busca a minha oportunidade no mercado de trabalho. 
            </p>
        </div>
    </div>



{% endblock content %}