{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Sobre nós</h5>
            <div class="card-body">
                <p class="card-text">Bem-vindo ao Blog Django, sua fonte número um para todas as notícias e informações relacionadas ao django e python. Estamos dedicados a fornecer a você o melhor conteúdo, com ênfase nos padrões da comunidade.

                    Esperamos que você goste do conteúdo do Blog Django tanto quanto gostamos de editá-los para você.</p>
                <a href="{% url 'about_blog' %}" class="btn btn-danger">Saiba Mais</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
